<footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 info text-uppercase">
                    <h3 class="footer-heading ">Cellframe links</h3>
                    <p class="footer-link-text"><a class="link" target="_blank" href="https://cellframe.net">Cellframe
                            website</a></p>
                    <p class="footer-link-text"><a class="link" target="_blank"
                            href="https://explorer.cellframe.net/">Cellframe explorer</a></p>
                    <p class="footer-link-text"><a class="link" target="_blank"
                            href="https://gitlab.demlabs.net/cellframe">Cellframe Gitlab</a></p>
                </div>
                <div class="col-sm-3 info  text-uppercase">
                    <h3 class="footer-heading">Contact us</h3>
                    <p class="footer-link-text"><a class="link" target="_blank" href="https://t.me/Tradernoob76"><i
                                class="fa-brands fa-telegram"></i>
                            Tradernoob76</a></p>
                    <p class="footer-link-text"><a class="link" target="_blank" href="https://t.me/CELLgainz"> <i
                                class="fa-brands fa-telegram"></i>
                            CELLgainz</a></p>
                </div>
                <p class="text-center">This site is not affiliated in any way with Demlabs (company) or it's projects
                    (e.g. Cellframe)</p>
            </div>
        </div>
    </footer>
    <script>
        function shortenWalletAddress(walletAddress) {
            return walletAddress.substring(0, 30) + '...';
        }
        
        document.addEventListener('DOMContentLoaded', function() {
            var walletAddressCells = document.querySelectorAll('.wallet-addr');
            walletAddressCells.forEach(function(cell) {
                cell.textContent = shortenWalletAddress(cell.textContent);
            });
        });
        document.addEventListener("DOMContentLoaded", function(){
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
                var tooltipList = tooltipTriggerList.map(function(element){
                    return new bootstrap.Tooltip(element);
                });
            });
    </script>