<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FEPK7JS9E3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-FEPK7JS9E3');
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="http://cellframestats.com/favicon.ico">
    <title>Cellframestats</title>
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ed38ca7e1a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>Cellframestats</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stats">Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Zerochain</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nodes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Richlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Timeline</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container main-content shadow-lg">
        <div class="row flex-grow-1">
            <div class="col-sm-6 row-stats row-stats-heading text-uppercase">
            <h1><strong>backbone network statistics</strong></h1></div>
        </div>
        <div class="row flex-grow-1 row-stats text-uppercase font-weight-bold">
            <div class="col-sm-4 text-center stats">
                <h1 data-real-value="{{ active_wallets }}" class="counter card-heading">0</h1>
                <h5><strong>Total unique wallets</strong></h5>
            </div>
            <div class="col-sm-4 text-center stats">
                <h1 data-real-value="{{ main_blocks }}" class="counter card-heading">0</h1>
                <h5><strong>Total blocks on main chain</strong></h5>
            </div>
            <div class="col-sm-4 text-center stats">
                <h1 data-real-value="{{ all_transactions }}" class="card-heading counter">0</h1>
                <h5><strong>Total transactions</strong></h5>
            </div>
        </div>
        <div class="row flex-grow-1 row-stats text-uppercase font-weight-bold">
            <div class="col-sm-4 text-center stats">
                <h1 data-real-value="{{ active_nodes }}" class="counter card-heading">0</h1>
                <h5><strong>masternodes</strong></h5>
            </div>
            <div class="col-sm-4 text-center stats">
                <h1 data-real-value="302465" class="counter card-heading">0</h1>
                <h5><strong>staked cell tokens</strong></h5>
            </div>
            <div class="col-sm-4 text-center stats">
                <h1 data-real-value="3634664" class="card-heading counter">0</h1>
                <h5><strong>Total something</strong></h5>
            </div>
        </div>
        <div class="row flex-grow-1">
            <div class="col-sm-6 row-stats row-stats-heading text-uppercase">
            <h1><strong>information</strong></h1></div>
        </div>
        <div class="row flex-grow-1 row-stats info">
            <div class="col-sm-8">
                <p>Cellframestats is a statistics / charting service intented to serve those running nodes on
                    3rd generation, quantum-proof novel blockchain.

                    This website is built by some enthusiastic Cellframe supporters, who are doing this on their spare
                    time.</p>

                <p>If you are new to the Cellframe ecosystem, here is a quick recap of the tech:</p>
                <ul>
                    <li>Quantum hack proof (using NIST recommended encryption methods)</li>
                    <li>Multi-signatures</li>
                    <li>Written in C</li>
                    <li>Has a powerful SDK for C language</li>
                    <li>Includes also a Python API for plugins</li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 info">
                    <h3 class="footer-heading">Useful links</h3>

                    <p class="footer-link-text"><a href="https://explorer.cellframe.net/">Cellframe explorer</a></p>
                    <p class="footer-link-text"><a href="https://explorer.cellframe.net/">Cellframe explorer</a></p>
                    <p class="footer-link-text"><a href="https://explorer.cellframe.net/">Cellframe explorer</a></p>
                    <p class="footer-link-text"><a href="https://explorer.cellframe.net/">Cellframe explorer</a></p>
                    <p class="footer-link-text"><a href="https://explorer.cellframe.net/">Cellframe explorer</a></p>
                    <p class="footer-link-text"><a href="https://explorer.cellframe.net/">Cellframe explorer</a></p>
                </div>
                <div class="col-sm-3 info">
                    <h3 class="footer-heading">Contact us</h3>
                    <p class="footer-link-text"><a href="t.me/@Tradernoob76">@Tradernoob76</a></p>
                    <p class="footer-link-text"><a href="t.me/@CELLgainz">@CELLgainz</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            startCount();
        });

        function startCount() {
            var counters = document.querySelectorAll('.counter');

            counters.forEach(function (counter) {
                var realValue = parseInt(counter.getAttribute('data-real-value'));
                var currentValue = parseInt(counter.innerHTML);
                var duration = 2000; // Duration of the animation in milliseconds
                var steps = 100; // Number of steps for the animation

                var increment = (realValue - currentValue) / steps;
                var stepDuration = duration / steps;

                var step = 0;

                var interval = setInterval(function () {
                    currentValue += increment;
                    counter.innerHTML = Math.floor(currentValue);
                    step++;
                    if (step >= steps) {
                        clearInterval(interval);
                        counter.innerHTML = realValue; // Ensure final value is displayed accurately
                    }
                }, stepDuration);
            });
        }
    </script>
</body>

</html>