<ul class="navbar-nav mx-auto">
    <li class="nav-item active">
        <a href="/" class="nav-link {% if active_page == "home" %}active{% endif %}">Home</a>
    </li>
    <li class="nav-item">
        <a href="/stats" class="nav-link {% if active_page == "stats" %}active{% endif %}">Stats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Nodes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Richlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Timeline</a>
    </li>
</ul>