<!doctype html>
<html lang="en" data-bs-theme="dark">
{% include "head.html" %}

<body>
    <div class="container">
        <div class="row mx-auto"><img class="logo flex-d mx-auto" src="{{ url_for('static', path='img/logo.svg') }}">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNav">
                {% include "nav.html" %}
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row text-center mx-auto">
            <h1 class="row-stats row-stats-heading text-uppercase text-center display-6 mx-auto">Insert wallet address
                or amount</h1>
            <form id="walletForm">
                <input type="text" class="wallet mx-auto" id="walletInput" name="wallet"><br><br>
                <button type="button" onclick="fetchWalletData()" class="btn-custom">Check</button>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                      var form = document.getElementById("walletForm");
                      var inputField = document.getElementById("walletInput");
                
                      form.addEventListener("submit", function(event) {
                        event.preventDefault();
                        inputField.value = '';
                      });
                    });
                  </script>
            </form>
            <div id="result" class="result"></div>
        </div>
    </div>
    <div class="container main-content shadow-lg">
        <div class="row row-stats info">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <h2 class="text-uppercase text-color-1">Richlist</h2>
                    <h5 class="heading-small">Top 50 wallets by cell tokens</h5>
                    <table class="table table-dark table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Rank</th>
                                <th>Wallet Address</th>
                                <th>CELL Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set rank = namespace(value=1) %}
                            {% for wallet in wallets_info_top_cell %}
                            <tr>
                                <td>{{ rank.value }}</td>
                                <td>{{ wallet[0] }}</td>
                                <td>{{ wallet[2]|int / 1e18|round(9) }}</td>
                            </tr>
                            {% set rank.value = rank.value + 1 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row row-stats info">
            <div class="col-sm-12">
                <h5 class="heading-small">Top 50 wallets by mcell tokens</h5>
                <div class="table-responsive">
                    <table class="table table-dark table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Rank</th>
                                <th>Wallet Address</th>
                                <th>mCELL Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set rank = namespace(value=1) %}
                            {% for wallet in wallets_info_top_mcell %}
                            <tr>
                                <td>{{ rank.value }}</td>
                                <td>{{ wallet[0] }}</td>
                                <td>{{ wallet[2]|int / 1e18|round(9) }}</td>
                            </tr>
                            {% set rank.value = rank.value + 1 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row row-stats info">
            <div class="col-sm-12">
                <h5 class="heading-small">Top 50 stakes</h5>
                <div class="table-responsive">
                    <table class="table table-dark table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Rank</th>
                                <th>Wallet address</th>
                                <th>Amount</th>
                                <th>Created on</th>
                                <th>Released on</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set rank = namespace(value=1) %}
                            {% for stake in fetch_stakes %}
                            <tr>
                                <td>{{ rank.value }}</td>
                                <td>{{ stake[6] }}</td>
                                <td>{{ stake[2] }}</td>
                                <td class="date-format">{{ stake[1] }}</td>
                                <td class="date-format">{{ stake[5] }}</td>
                            </tr>
                            {% set rank.value = rank.value + 1 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    <script>
        function fetchWalletData() {
            var walletAddress = document.getElementById("walletInput").value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/submit", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var data = JSON.parse(xhr.responseText);
                        document.getElementById("result").innerHTML = `<span class="response">${data.message}</span>`;
                    }
                    else if (walletAddress == "" || walletAddress == null) {  // Empty wallet address?
                        document.getElementById("result").innerHTML = `<span class="error response">Please input your wallet address or amount!</span>`;
                    }
                    else {
                        console.error('Error:', xhr.statusText);
                        alert('An error occurred. Please try again.');
                    }
                }
            };

            xhr.send("wallet=" + encodeURIComponent(walletAddress));
            document.getElementById("walletInput").value = '';
        }
    </script>
</body>

</html>