<!doctype html>
<html lang="en" data-bs-theme="dark">
{% include "head.html" %}

<body>
    <div class="container">
        <div class="row mx-auto">
            <img onclick="window.location = '/'" class="logo mx-auto" style="cursor: pointer;" src="{{ url_for('static', path='img/logo.svg') }}">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNav">
                {% include "nav.html" %}
            </div>
        </div>
    </nav>
    <div class="container main-content shadow-lg">
        <div class="row row-stats info">
            <h2 class="text-uppercase text-color-1">Backbone block info</h2>
            <div class="col-sm-6">
                <br><h6 class="text-color-1">Blocks from the last 7 days</h6>
                <canvas id="chart_blocks_7_days"></canvas>
            </div>
            <div class="col-sm-6">
                <br><h6 class="text-color-1">Blocks from the last 30 days</h6>
                <canvas id="chart_blocks_30_days"></canvas>
            </div>
        </div>
        <div class="row row-stats info">
            <div class="col-sm-12">
                <h6 class="text-color-1">Blocks from the last 120 days</h6>
                <canvas id="chart_blocks_120_days"></canvas>
            </div>
        </div>
        <div class="row row-stats info">
            <h2 class="text-uppercase text-color-1">Backbone transactions info</h2>
            <div class="col-sm-6">
                <br><h6 class="text-color-1">Transactions from the last 7 days</h6>
                <canvas id="chart_transactions_7_days"></canvas>
            </div>
            <div class="col-sm-6">
                <br><h6 class="text-color-1">Transactions from the last 30 days</h6>
                <canvas id="chart_transactions_30_days"></canvas>
            </div>
        </div>
        <div class="row row-stats info">
            <div class="col-sm-12">
                <br><h6 class="text-color-1">Transactions from the last 120 days</h6>
                <canvas id="chart_transactions_120_days"></canvas>
            </div>
        </div>
        <div class="row row-stats info">
            <h2 class="text-uppercase text-color-1">Latest 20 stakes</h2>
            <div class="table-responsive">
                <table class="table table-dark table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>By address</th>
                            <th>Created on</th>
                            <th>Released on</th>
                            <th>Reinvestment percent</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stake in latest_stakes %}
                        <tr>
                            <td class="wallet-addr" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ stake[6] }}" data-bs-custom-class="tooltip-custom">{{ stake[6] }}</td>
                            <td class="date-format">{{ stake[1] }}</td>
                            <td class="date-format">{{ stake[5] }}</td>
                            <td>{{ stake[4] }}%</td>
                            <td>{{ stake[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "footer.html" %}

    <script src="{{ url_for('static', path='js/chart.js') }}"></script>
    <script>
        var color = getComputedStyle(document.documentElement).getPropertyValue('--chart-color')
        function createChart(ctxId, data, options, which, period, type) {
            const ctx = document.getElementById(ctxId);
            const labels = Object.keys(data).map(dateString => {
                const date = new Date(dateString);
                return date.toLocaleDateString();
            });

            const dataset = {
                data: Object.values(data),
                backgroundColor: color,
                borderColor: color,
                borderWidth: 2
            };
            new Chart(ctx, {
                type: type,
                data: {
                    labels: labels,
                    datasets: [dataset]
                },
                options: options
            });
        }

        const latest_120_transactions = {{ latest_120_transactions | safe }};
        const latest_120_blocks = {{ latest_120_blocks | safe }};

        const options = {
            plugins: {
                title: {
                    color: color
                },
                legend: {
                    display: false
                },
                tooltip: {
                    bodyColor: color,
                    titleColor: color
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: color
                    }
                },
                x: {
                    ticks: {
                        color: color
                    }
                }
            }
        };

        function getDataForDays(data, days) {
            const today = new Date();
            const startDate = new Date(today);
            startDate.setDate(startDate.getDate() - days);

            const filteredData = {};
            for (const [dateString, value] of Object.entries(data)) {
                const date = new Date(dateString);
                if (date >= startDate && date <= today) {
                    filteredData[dateString] = value;
                }
            }

            return filteredData;
        }

        createChart('chart_blocks_7_days', getDataForDays(latest_120_blocks, 7), options, "Blocks", 7, "bar");
        createChart('chart_blocks_30_days', getDataForDays(latest_120_blocks, 30), options, "Blocks", 30, "bar");
        createChart('chart_blocks_120_days', latest_120_blocks, options, "Blocks", 120, "line");
        createChart('chart_transactions_7_days', getDataForDays(latest_120_transactions, 7), options, "Transactions", 7, "bar");
        createChart('chart_transactions_30_days', getDataForDays(latest_120_transactions, 30), options, "Transactions", 30, "bar");
        createChart('chart_transactions_120_days', latest_120_transactions, options, "Transactions", 120, "line");

    </script>

</body>

</html>